{{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-md-8">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.copies) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="genres-display"></div>
            <div class="input-group mb-3">
                {{ form_row(form.genres) }}
              <input id="new_genre" type="text" class="form-control" placeholder="Add genre" aria-label="Add genre" aria-describedby="button-addon2" value="">
              <button class="btn btn-outline-light" onclick="addGenre(); return false;" id="button-addon2">Add genre</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">    
        <div class="col-md-12 text-end">
            <button class="btn btn-outline-light">{{ button_label|default('Save') }}</button>
        </div>
    </div>
    {{ include('book/_genres_script.html.twig') }}
{{ form_end(form) }}