{{ form_start(form) }}
    <div class="row mb-3">
        <div class="col-md-8">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.copies) }}
        </div>
        <div class="col-md-12">
            {{ form_row(form.genres) }}
        </div>
    </div>
    <div class="row mb-3">    
        <div class="col-md-12 text-end">
            <button class="btn btn-outline-light">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}